language: node_js
node_js:
  - "6.5"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
install:
  - "travis_retry yarn global add forever"
